<!DOCTYPE html>
<html>

<head>
    <title>test</title>
    <style>
        body,
        html {
            height: 100%;
            margin: 0;
        }

        .bg {
            background-image: url("/images/clouds.jpg");
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>

<body>
    <div class="bg">
        {{{error}}}

        <div style="float:right;margin-right:50px;margin-top:25px;">
            <button onclick="retry()" type="button" class="btn btn-primary">Reload page</button>
        </div>

        <div style="float:left">
            <div id="app" style="padding-left: 50px; float:left">
                <h2>Select app</h2>
                <form>
                    <div>
                        {{{appSelect}}}
                    </div>
                </form>
            </div>

            <div style="padding-left: 50px; padding-top: 5px; clear:both">
                <h2>Get</h2>
                <form>
                    <div>
                        <select class="form-control" id="method" style="width:250px; background-color:#f7f4ff">
                            <option value="" disabled selected>Please select</option>
                            <option value="1">Field list</option>
                            <option value="2">Dimension list</option>
                            <option value="3">Measure list</option>
                            <option value="4">Sheet list</option>
                            <option value="4">Variables list</option>
                        </select>
                    </div>
                </form>
            </div>

            <div style="padding-left: 50px; padding-top: 35px; clear:both;">
                <form method="post" action="/">
                    <div>
                        <button class="btn btn-primary" id="exportCheck" style="height:50px;width:150px;font-size:24px;">Export</button>
                    </div>
                </form>
            </div>
        </div>

        <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
        <script src="/scripts/jquery-3.3.1.min.js" charset="utf-8"></script>
        <script src="/scripts/bootstrap/bootstrap.min.js"></script>

        <script type="text/javascript">$.getScript("/scripts/script.js")</script>
        
    </div>
</body>

</html>