<!DOCTYPE html>
<html>

<head>
    <title>test</title>
</head>

<body>

    {{error}}
    <div style="padding-left: 50px; float: left" ;>
        <h2>Select app</h2>
        <form>
            <div class="form-group">
                {{{appSelect}}}
            </div>
        </form>
    </div>


    <div style="padding-left: 80px; padding-top: 60px; float: left" ;>
        <a href="#" id="select_link2">
            <button>Test</button>
        </a>
    </div>


    <div style="padding-left: 50px; clear:both">
        <h2>Get</h2>
        <form>
            <div class="form-group">
                <select id="method">
                    <option value="" disabled selected>Please select</option>
                    <option value="1">Field list</option>
                    <option value="2">test 2</option>
                    <option value="3">test 3</option>
                    <option value="4">test 4</option>
                </select>
            </div>
        </form>
    </div>

    <div style="padding-left: 50px; padding-top: 25px; clear:both">
        <form method="post" action="/export">
        <button style="height:75px;width:150px;font-size:32px;">Export</button>
    </form>
    </div>



    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



    <script type="text/javascript">
        $(function () {
            $('#app').change(function (e) {
                e.preventDefault();
                console.log('select_link clicked');

                /*$.ajax({
                   dataType: 'jsonp',
                   data: "data=yeah",						
                   jsonp: 'callback',
                   url: 'http://localhost:3000/endpoint?callback=?',						
                   success: function(data) {
                       console.log('success');
                       console.log(JSON.stringify(data));
                   }
               });*/
                var data = {}
                data.name = $("#app option:selected").text();
                console.log(data);

                $.ajax({
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    url: 'http://localhost:3000/testpoint',
                    success: function (data) {
                        console.log('success');
                        console.log(JSON.stringify(data));
                    }
                });
                /*$.ajax('http://localhost:3000/endpoint', {
                        type: 'POST',
                        data: JSON.stringify(data),
                        contentType: 'application/json',
                        success: function() { console.log('success');},
                        error  : function() { console.log('error');}
                });*/
            });
        });
    </script>



    <script type="text/javascript">
        $(function () {
            $('#select_link2').click(function (e) {
                e.preventDefault();
                console.log('select_link clicked');

                /*$.ajax({
                   dataType: 'jsonp',
                   data: "data=yeah",						
                   jsonp: 'callback',
                   url: 'http://localhost:3000/endpoint?callback=?',						
                   success: function(data) {
                       console.log('success');
                       console.log(JSON.stringify(data));
                   }
               });*/
                var data = {};
                data.title = "title";
                data.message = "message";

                $.ajax({
                    type: 'POST',
                    data: null,
                    contentType: 'application/json',
                    url: 'http://localhost:3000/endpoint',
                    success: function (data) {
                        console.log('success');
                        console.log(JSON.stringify(data));
                    }
                });
                /*$.ajax('http://localhost:3000/endpoint', {
                        type: 'POST',
                        data: JSON.stringify(data),
                        contentType: 'application/json',
                        success: function() { console.log('success');},
                        error  : function() { console.log('error');}
                });*/
            });
        });
    </script>


    <script type="text/javascript">
        $(function () {
            $('#method').change(function (e) {
                e.preventDefault();
                console.log('select_link clicked');

                var data = {}
                data.method = $("#method option:selected").text();
                console.log(data);

                $.ajax({
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    url: 'http://localhost:3000/method',
                    success: function (data) {
                        console.log('success');
                        console.log(JSON.stringify(data));
                    }
                });
            });
        });
    </script>


    <script type="text/javascript">
        $(function () {
            $('#export').click(function (e) {
                e.preventDefault();
                console.log('select_link clicked');

                /*$.ajax({
                   dataType: 'jsonp',
                   data: "data=yeah",						
                   jsonp: 'callback',
                   url: 'http://localhost:3000/endpoint?callback=?',						
                   success: function(data) {
                       console.log('success');
                       console.log(JSON.stringify(data));
                   }
               });*/
                var data = {};
                data.title = "title";
                data.message = "message";

                $.ajax({
                    type: 'POST',
                    data: null,
                    contentType: 'application/json',
                    url: 'http://localhost:3000/export',
                    success: function (data) {
                        console.log('success');
                        console.log(JSON.stringify(data));
                    }
                });
                /*$.ajax('http://localhost:3000/endpoint', {
                        type: 'POST',
                        data: JSON.stringify(data),
                        contentType: 'application/json',
                        success: function() { console.log('success');},
                        error  : function() { console.log('error');}
                });*/
            });
        });
    </script>

</body>

</html>